
* {
    font-family: Roboto, sans-serif;
    color: whitesmoke;
}

p {
    font-size: 2rem;
    font-weight: bold;
}

.card {
    height: 350px;
    width: 450px;
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(80, 80, 80);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    padding: 10px;
}

.textInput {
    width: 90%;
    margin-top: 20px;
    padding: 7px;
    font-size: 1.5rem;
    outline: none;
    border-radius: 10px;
    background: rgb(50, 50, 50);
}

.submitButton {
    width: 150px;
    margin-top: 30px;
    background: rgb(60, 60, 60);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
}
